body {
  background-color: #eee;
  color: black;
}
.box{
  margin: 8px;
  padding: 8px;
  border-style: solid;
  border-width: 4px;
  border-color: #faa;
  border-left: 2px solid #aaf;
  border-right: 2px solid #aaf;
  background-color: rgb(210, 223, 196);
  border-radius: 8px;
  height: 40px;
  width: 100px;
  color: black;
  text-align: center;
}