body {
  background-color: #eeeeee;
}

p {
  font-family: "Times New Roman";
  font-style: italic;
  font-weight: 600;
  font-size: 1.1em;
  color: black;
  text-align: justify;
  text-indent: 20;
  line-height: 1.5;
  word-spacing: 5px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

a {
  text-decoration: none;
  text-transform: capitalize;
  letter-spacing: 2px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  background-color: #4285F4;
  border: solid 1px #3968b4;
  border-radius: 4px;
  padding: 5px;
}

a:link {
  color: white;
}

a:visited {
  color: white;
  border: solid 1px #3968b4;;
}

a:hover {
  color: white;
  text-decoration: underline;
  background-color: #0F9D58;
  text-shadow: 2px 2px 2px rgb(0, 0, 0, 0.1);
}

a:active {
  color: black;
}

