body {
  background-color: #eee;
  color: black;
}

#invisible {
  display: none;
}

#secondParagraph {
  max-width: 350px;
  min-width: 150px;
  background-color: #0090ff;
  margin: auto;
  color: white;
  text-align: center;
  position: fixed;
  top: 0;
  right: 0px;
  bottom: 0px;
}